#table1{
    background-color: #91d6d3;
    border: 0.05rem black solid;
    width: 45rem;
    border-radius: 0.8rem;
    margin-left: auto;
    margin-right: auto;
}

#t1{
    border: 0.05rem black solid;
    border-radius: 0.8rem;
}

#table2{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1rem;
}
#t2{
    border: 0.1rem solid greenyellow;
    width: 7rem;
    height: 4rem;
}