.container{
    display: flex;
    justify-content: space-evenly;
}
.vbox{
    border: 0.1rem black solid;
    width: 10rem;
    height: 10rem;
}
.vnav{
    background-color: aquamarine;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
}
 .vnav a{
    display: block;
    text-align: center;
    line-height: 1.8rem;
    text-decoration: none;
    color: blue;
}

.vnav a:hover{
    background-color: orange;
    transition: 0.5s;
}

.hbar{
    margin-top: 5rem;

}
.hbox{
    border: 0.1rem black solid;
    height: 2.5rem;

}

.hnav{
    background-color: lightgray;
    display: table;
    justify-content: space-evenly;
    width: 25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
    border-collapse: collapse;
}    
.hnav a{
    line-height: 2rem;
    color: blue;
    text-decoration: none;
    border-left: 0.1rem solid blue;
    border-right: 0.1rem solid blue;
    border-spacing: 5rem;
}